# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
.env.example

# Django
db.sqlite3
*.log
media/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Static build cache
staticfiles/

# OS
.DS_Store
Thumbs.db